<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                       http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>${user.home}\qaautomation\.m2\repository</localRepository>
	<profiles>
		<profile>
			<id>CSAA-NEXUS</id>	
				<repositories>
					<repository>
						<id>CSAAQAAUTOMATIONGROUP</id>
						<name>CSAAQAAUTOMATIONGROUP</name>
						<url>https://devnexus.tent.trt.csaa.pri:8443/nexus/content/groups/CSAAQAAUTOMATIONGROUP/</url>
						<releases><enabled>true</enabled></releases>
						<snapshots><enabled>true</enabled></snapshots>
					</repository>
				</repositories>
		</profile>
	</profiles>
	<servers>
		<server>
			<id>CSAAQAAUTOMATIONGROUP</id>
			<username>deployment</username>
			<password>deployment123</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>CSAAQAAUTOMATIONGROUP</id>
			<name>CSAAQAAUTOMATIONGROUP</name>
			<url> https://devnexus.tent.trt.csaa.pri:8443/nexus/content/groups/CSAAQAAUTOMATIONGROUP/</url>
			<mirrorOf>*</mirrorOf>
        </mirror>                                                                     
    </mirrors>

	<activeProfiles>
		<activeProfile>CSAA-NEXUS</activeProfile>
	</activeProfiles>
</settings>